.home {
  margin: 0px 35px;
}

.white-gap {
  // height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.height-77 {
  height: 50px;
}
.height-72 {
  height: 50px;
}
.content-section {
  width: 100%;
  height: calc(100vh - 100px) ;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  p {
    text-size: 18px;
    margin-right: 20px;
  }
}
.bottom-black {
  width: 100%;
  height: 40px;
  background-color: black;
}
.bottom-white {
  width: 100%;
  height: 80px;
  background-color: white;
}

@media (max-width: 576px){
  .content-section {
    height: 50vh;
  }

  .height-77 {
    height: 30px;
  }

  .height-72 {
    height: 30px;
  }

  .bottom-white {
    height: 50px;
  }

  body {
    font-size: 9px !important;
  }

  .content-details p {
    margin-right: 6px;
  }

  .carousel-arrows-box {
    position: absolute;
    height: 28px !important;
    bottom: -28px !important;
    right: 00px;
    width: 70px !important;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px !important;
    height: 10px !important;
  }


}


