.home {
  margin: 0px 35px;
}

.white-gap {
  // height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.height-77 {
  height: 77px;
}
.height-72 {
  height: 72px;
}
.content-section {
  width: 100%;
  height: 1060px;
  background-color: black;
}
.content-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  p {
    text-size: 18px;
    margin-right: 20px;
  }
}
.bottom-black {
  width: 100%;
  height: 40px;
  background-color: black;
}
.bottom-white {
  width: 100%;
  height: 80px;
  background-color: white;
}
